.statistics {
  width: 400px;
  margin: 0 auto;
}
.title {
  text-align: center;
}
.stat-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 0;
}

.item {
  width: 80px;
  height: 50px;
}
