.friendList {
  list-style: none;
  width: 400px;
  margin: 0 auto;
  padding-left: 0;
}

.friendsItem {
  border: 1px solid gray;
}
.avatar {
  width: 150px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.name {
  font-size: 24px;
}
